<nav class="navbar navbar-dark bg-dark d-flex justify-content-around">
    <form class="form-inline" method="POST" action="/table/">
        <input type="email" class="form-control mr-sm-2" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="email">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="44" name="fz_44">
            <label class="form-check-label text-white" for="inlineCheckbox1">44-ФЗ</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="223" name="fz_223">
            <label class="form-check-label text-white" for="inlineCheckbox2">223-ФЗ</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="615" name="fz_185">
            <label class="form-check-label text-white" for="inlineCheckbox2">185-ФЗ</label>
        </div>
        <div class="form-row form-check-inline">
            <div class="col">
                <input type="text" class="form-control" placeholder="08:00" name="time_since">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="12:00" name="time">
            </div>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0 load-result" type="submit">Search</button>
    </form>
</nav>